* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
     /* background:rgb(235, 234, 234) !important; */
     overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}
nav .logo a span {
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    display: inline-block;
}
nav ul {
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
nav ul li a:hover{
    color: red;
}
.nav-icons {
    display: flex;
    gap: 1vw;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}
.nav-icon-1:hover{
    color: red;
}
.nav-icon-2:hover{
    color: red;
}
.nav-icon-3:hover{
    color: red;
}
.menu {
    display: none;
    color:black;
}

/* Responsive nav */

@media (max-width:800px){
    nav ul{
        gap: 3vw;
    }
}
@media(max-width:768px) {

    .menu {
        display: block;
        right: 10vw;
        position: absolute;
        scale: 1.6;
    }

    .nav-icons {
        gap: 2vw;
        position: absolute;
        right: 17vw;
    }

    nav ul {
        display: none;
    }

    .logo a {
        font-size: 2vw;
    }

}

@media (max-width: 420px) {

    nav {
        padding: 0 30px;
    }

    .nav-icons {
        right: 20vw;
    }

}

@media(max-width:380px) {

    .logo label a {
        font-size: 18px;
    }

}

/* search-overlay  */

.search-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 120;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow:hidden;
}
.overlay-font {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
}
.overlay-font i {
    color: white;
    font-size: 40px;
}
.overlay-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    flex-direction: column;
    margin-top: 10vh;
}
.overlay-label label{
    font-family: "Poppins",sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: 500;
}
.overlay-searchbox input{
    width: 80vw;
    height: 8vh;
    border:none ;
    outline: none;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 0 30px;
    margin-top:8vh ;
}
.overlay-btn{
    margin-top: 8vh;
}
.overlay-btn input{
    width: 15vw;
    height: 9vh;
    font-size: 18px;
    font-weight: 600;
    color: #605353;    
    border-radius: 4px;
    border: none;
    outline: none;
    transition: all ease 0.5s;
}
.overlay-btn input:hover{
    background-color: red;
    color: white;
    transform: translateY(-10px);
}

/* Search overlay Responsive */

@media (max-width:992px){
    .overlay-label label{
        font-size: 2.8rem;
    }

    .overlay-btn input{
        width: 18vw;
    }
}
@media (max-width:768px){
    .overlay-btn input{
        width: 20vw;
    }
}
@media (max-width:700px){
    .overlay-label label{
        font-size: 6vw;
    }
    .overlay-font{
        right: 25px;
    }
    .overlay-font i{
        font-size: 30px;
    }
    .overlay-btn input{
        width: 25vw;
    }
}
@media (max-width:500px){
    .overlay-btn input{
        width: 28vw;
    }
}
@media (max-width:400px){
    .overlay-btn input{
        width: 30vw;
    }
    .overlay-searchbox input{
        font-size: 16px;
    }
}

/* Carousel */

.carousel {
    position: relative;
}
.carousel-item {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("https://t4.ftcdn.net/jpg/02/44/59/75/360_F_244597556_sWPj5Gf4wDUm7Zy8DhXGO0JrduwsxLGf.webp");
    height: 600px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-1-items{
    color: color;
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    top: 6%;
    right: 20vw;
}
.carousel-1-label-1 label{
    font-size: 1.1rem;
    font-weight: 900;
    color: black;
}
.carousel-label-2 label{
    font-size: 4rem;
    text-align: center;
    line-height: 12vh;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    color: black;
}
.carousel-1-label-3 label{
    font-family:"Poppins",sans-serif;
    font-size: 1.9rem;
    line-height: 8vh;
    font-weight: 600;
    color: black;
}
.carousel-1-label-3 label span{
    color: red;
    font-weight: 600;
}
.carousel-1-btn input{
    width:10rem;
    height: 9vh;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    outline:none ;
    transition: all ease 0.3s;
    margin-top: 2vh;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}
.carousel-1-btn input:hover{
    background-color:red;
    color: white;
    transform: translateY(-10px);
    border: none;
}


@media only screen and (max-width: 1300px){

    .carousel-1-label-3 label{
        line-height: 35px;
    }
    .carousel-label-2 label{
        line-height: 80px;
    }
    .carousel-1-btn input{
        height: 8vh;
    }
}

@media only screen and (max-width: 1100px){

    .carousel-label-2 label{
        line-height: 80px;
    }
    .carousel-1-label-3 label{
        line-height: 35px;
    }
}

@media(max-width:992px){
    .carousel-label-2 label{
        font-size: 3.5rem;
    }
    .carousel-1-btn input{
        width: 150px;
    }
}

@media(max-width:768px){
    .carousel-1-items{
        left: -15vw;
    }
}

@media(max-width:600px){
    .carousel-1-items{
        left: -10vw;
    }
    .carousel-label-2 label{
        font-size: 3rem;
        line-height: 65px;
    }
}

@media (max-width:450px){
    .carousel-label-2 label{
        font-size: 2.5rem;
        line-height: 60px;
    }
    .carousel-1-label-3 label{
        font-size: 1.6rem;
        left: -7vw;
    }
    .carousel-1-btn input{
        width: 120px;
        height: 6vh;
    }
}

@media (max-width:450px){
    .carousel-1-items{
        left: -12px;
    }
}

/* Carousel item 2 */

.carousel-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),url("https://demoxml.com/html/wooland/wooland/images/slider-bg-1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.carousel-item-2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 10vw;
    color:black;
    background-size:cover ;
    height: 100%;
}
.carousel-2-label-1 label{
    font-size: 1.2rem;
    font-weight: 900;
}
.carousel-2-para p{
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 4vh;
    line-height: 5.5vh;
    font-weight: 600;
}
.carousel-2-btn input{
    width: 170px;
    height: 50px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all ease 0.3s;
    margin-top: 2vh;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius:4px;
}
.carousel-2-btn input:hover{
    background-color: red;
    color: white;
    transform:  translateY(-10px);
    border: none;
}

/* Responsive_carousel_2 */

@media only screen and (max-width: 1500px){
    .carousel-2-label-1 label{
        position: relative;
        top: 20px;
    }
}
@media only screen and (max-width: 1100px){
    .carousel-item-2{
        height: 100%;
    }
    .carousel-2-para p{
        line-height: 3vh;
    }
    .carousel-2-btn input{
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 992px){
    .carousel-item-2{
        left: 5vw;
    }
}

@media only screen and (max-width: 768px){
    .carousel-item-2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .carousel-2-para p{
        font-size: 1.2rem;
        line-height: 3vh;
    }
}

@media only screen and (max-width: 500px){      
    .carousel-2-para p{
        font-size: 1rem;
    }
    .carousel-2-btn input{
        width: 130px;
        margin-top: 1vh;
    }
}

@media only screen and (max-width: 400px){
    .carousel-2-para p{
        font-size: 0.8rem;
    }
}

 /* carousel-3  */

    .carousel-3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("images/carousel-3.jpg"); 
        background-position:center top;       
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .carousel-item-3{
        display: flex;
        flex-direction:column ;
        align-items: center;
        justify-content: center;
        height: 100%;
        float:right;
        color: black;
        position: relative;
        right: 10%;
        margin-top: 20px;
    }
    .carousel-3-label-1 label{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .carousel-3-label-2 label{
        font-size: 4rem;
        font-family:"Poppins",sans-serif;
        font-weight: 800;
    }
    .carousel-3-para p{
        text-align: justify;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .carousel-3-btn input{
        color: black;
        text-decoration: none;
        border: 2px solid black;
        background-color: transparent;
        width: 150px;
        height: 50px;
        margin-top: 2vh;
        transition: all ease 0.5s;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .carousel-3-btn input:hover{
        background-color: red;
        color: white;
        transform: translateY(-10px);
        border: none;
    }

    /* Carousel-3-Respoonsive */

    @media only screen and (max-width: 1200px){
        .carousel-item-3{
            right: 5%;
        }
        .carousel-3-label-2 label{
            font-size: 3rem;
        }   
    }
    @media only screen and (max-width: 900px){
        .carousel-3-label-2 label{
            font-size: 2.5rem;
        }   
        .carousel-3-para p{
            font-size: 1rem;
        }
    }
    @media only screen and (max-width: 700px){
        .carousel-3-label-2 label{
            font-size: 2rem;
        }   
        .carousel-3-para p{
            font-size: 0.8rem;
        }
        .carousel-item-3{
            margin-top: 30px;
        }
    }
    @media only screen and (max-width: 400px){   
        .carousel-3-para p{
            font-size: 0.8rem;
            font-weight: 700;
        }
        .carousel-3-btn input{
            width: 130px;
        }
    }














/* home main content  */

.home-boxes-parent{
    position: relative;    
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 5%;
    padding: 0 50px ;
}
.home-box1{
    width: 27vw;
    height: 100%;  
}
.home-box2{
    width: 27vw;
    height: 100%;
}
.home-box3{
    width: 27vw;
    height: 100%;
}
.home-boxes-parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 1s;
}
.home-boxes-parent img:hover{
    filter: contrast(30%);
}
.home-box1 , .home-box2 , .home-box3{
    position: relative;
    font-size: 20px;
}
#l-1 a , #l-2 a, #l-3 a{
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: white;
    padding: 15px;
    width: 12vw;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#l-1 a:hover{
    background-color: red;
    color: white;
}
#l-2 a:hover{
    background-color: red;
    color: white;
}
#l-3 a:hover{
    background-color: red;
    color: white;
}

/* boxes responsive  */

@media only screen and (max-width: 992px){
    .home-box1 , .home-box2 , .home-box3{
        height: 100%;
    }
    #l-1 a , #l-2 a, #l-3 a{
        font-size: 1rem;
        padding: 10px;
    }   
}
@media only screen and (max-width: 700px){
    .home-boxes-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-box1 , .home-box2 , .home-box3{
        width: 100%;
    }
    #l-1 a , #l-2 a, #l-3 a{
        left: 35%;
        padding: 15px;
        width: 28vw;
        font-size: 1.2rem;
        font-weight: 700;
    }
}
@media only screen and (max-width: 400px){
    #l-1 a , #l-2 a, #l-3 a{
        padding: 10px;
        left: 32%;
        font-size: 1rem;
    }
}

/* casual-products */

.casual-container{
    background-image:url("images/bg_processed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
    padding:50px 50px;
}
.casual-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes-aliment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 2vw;
}
.casual-box-1{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("https://media.istockphoto.com/id/615595706/photo/fashion-portrait-pretty-sweet-woman-blowing-red-lips-black-hat.jpg?s=612x612&w=0&k=20&c=k_IlfTDM_E7lajbdZ_f8_mpiMcVwrBST_dntHpki7AQ=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 50vw;
    border-radius: 20px;
    cursor: pointer;
}
.casual-box-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("https://www.campusshoes.com/cdn/shop/files/RAFE_22G-1118_R.SLATE-NAVY_2.jpg?v=1705404549");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    width: 40vw;
    border-radius: 20px;
    cursor: pointer;
}
.casual-box-3{
    background-image: linear-gradient(to left ,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("https://media.istockphoto.com/id/973481674/photo/stylish-man-posing-on-grey-background.jpg?s=612x612&w=0&k=20&c=zn4YXiU1RX4-DHz8XNSSB3PoEKBxpfeFtRTESWX6OWQ=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    width: 40vw;
    border-radius: 20px;
    cursor: pointer;
}
.casual-item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
    margin-top: 100px;
}
.casual-item-1 label{
    font-size: 5rem;
    font-weight: 600;
}
.casual-item-1 p{
    line-height: 40px;
    font-size: 1.2rem;
}
.casual-item-1 a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all ease 0.6s;
    margin-top: 20px;
    opacity: 0;
}
.casual-item-1 a:hover{
    color: black;
    background-color: white;
}
.casual-box-1:hover a{
    opacity: 1;
    transform: translateY(-20px);
}
.casual-item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
}
.casual-item-2 label{
    font-size: 2rem;
    font-weight: 700;
}
.casual-item-2 p{
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 600px;
}
.casual-item-2 a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all ease 0.6s;
    margin-top: 20px;
    opacity: 0;
}
.casual-item-2 a:hover{
    color: black;
    background-color: white;
}
.casual-box-2:hover a{
    opacity: 1;
    transform: translateY(-20px);
}
.casual-item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
}
.casual-item-3 label{
    font-size: 1.9rem;
    font-weight: 700;
}
.casual-item-3 p{
    line-height: 50px;
    font-weight: 600;
    font-size: 1.1rem;
}
.casual-item-3 .btn a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    width: 150px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    opacity: 0;
    transition: all ease 0.6s;
    margin-top: 10px;
}
.casual-box-3 a:hover{
    color: black;
    background-color: white;
}
.casual-box-3:hover a{
    opacity: 1;
    transform: translateY(-20px);
}

/* Casual-session-responsive  */

@media only screen and (max-width: 1030px){

    .casual-item-1 label{
        font-size: 4rem;
    }
    .casual-item-1 p{
        line-height: 40px;
        font-size: 1.1rem;
    }
    .casual-item-2 label{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .casual-item-2 p{
        line-height: 40px;
        font-size: 1rem;
        font-weight: 600px;
    }   
    .casual-item-3 label{
        font-size: 1.5rem;
    }
    .casual-item-3 p{
        line-height: 30px;  
        font-weight: 600;
        font-size: 0.9rem;
        text-align: center;
    }      
}

@media only screen and (max-width: 820px){

    .casual-item-1 label{
        font-size: 3rem;
    }
    .casual-item-1 p{
        line-height: 30px;
        font-size: 1rem;
        text-align: center;
    }
    .casual-item-2 label{
        font-size: 1.5rem;
    }
    .casual-item-2 p{
        line-height: 30px;
        font-size: 1rem;
        text-align: center;
    }   
    .casual-item-3 label{
        font-size: 1.4rem;
    }
    .casual-item-3 p{
        line-height: 20px;  
        font-weight: 600;
        font-size: 0.9rem;
        text-align: center;
    }

}

@media only screen and (max-width: 700px){

    .casual-products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .casual-box-1 ,.casual-box-2 ,.casual-box-3{
        width: 80vw;
        height: 50vh;
        
    }
    .boxes-aliment{
        left: 0;
        gap: 50px;
    }
    .casual-item-1 label{
        font-size: 10vw;
    }
    .casual-item-1 p{
        line-height: 30px;
        font-size: 1rem;
        text-align: center;
    }
    .casual-item-2 label{
        font-size: 7vw;
    }
    .casual-item-2 p{
        line-height: 30px;
        font-size: 1.2rem;
        text-align: center;
    }   
    .casual-item-3 label{
        font-size: 6.5vw;
    }
    .casual-item-3 p{
        line-height: 20px;  
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        line-height: 30px;
    }   
}

/* Marquee-session */

    .Marquee-container{
        /* background-color: black; */
        width: 100%;
        margin-top: 10%;
        margin-bottom: 5%;
        overflow: hidden;
    }
    .Marquee-images{
        display: flex;
        height: 50vh;
        /* gap: 10px; */
        animation: marquee 20s infinite linear; 
    }
    .Marquee-images img{
        /* border: 6px solid #c5c1c1; */
        border: 2px solid black;
        /* border-top: 10px solid black; */
        /* border-bottom: 10px solid black; */
        height: 80%;
        /* border-radius: 25px; */
        width: 170px;
        transition: all 0.5s ease-in-out;
        object-fit: cover;
    }
    .Marquee-images img:hover{
        transform: scale(1.2);
        /* overflow: hidden; */
        cursor: pointer;
    }
    @keyframes marquee{
        0%{
            transform:translateX(0%);
        }
        100%{
            transform:translateX(-100%);
        }
    }





