*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* position: relative; */
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    width: 100%;
    position: absolute;
    background-color: royalblue;
}
header{
    /* position: relative; */
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}


nav .logo a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}

nav .logo a span{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 2px;
    background-color: black;
    display: inline-block;
}

.nav-icons{
    display: flex;
    gap: 1vw;
    font-size: 1rem;
    cursor: pointer;
}
.menu{
    display: none;
    }


/* Responsive nav */

@media(max-width:768px) {
    .menu{
        display: block;
        right: 10vw;
        position: absolute;
        scale: 1.6;
    }
.nav-icons{
    gap: 1.3vw;
    position: absolute;
    right: 17vw;
}


nav ul {
    
   display: none;
}
.logo {
  font-size: 2vw;
}



}


@media (max-width: 420px) {
nav {
    padding: 0 30px;
}
.nav-icons {
    right: 20vw;
}


}

    
   













/* home main content  */

/* .home-boxes-parent{
    position: relative;    
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
    margin-bottom: 4%;
}

.home-box1{
    width: 27vw;
    height: 34vh;
   
}

.home-box2{
    width: 27vw;
    height: 34vh;
}

.home-box3{
    width: 27vw;
    height: 34vh;
}

.home-boxes-parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all ease 1s;
}

.home-boxes-parent img:hover{
    filter: contrast(30%);
}

.home-box1 , .home-box2 , .home-box3{
    position: relative;
    font-size: 20px;
}

#l-1{
    position: absolute;
    left: 31%;
    background-color: white;
    padding: 12px 40px;
    top: 50%;
    
}

#l-2{
    position: absolute;
    left: 31%;
    background-color: white;
    padding: 12px 35px;
    top: 50%;
}

#l-3{
    position: absolute;
    left: 37%;
    background-color: white;
    padding: 12px 40px;
    top: 50%;
} */

/* boxes responsive  */

